pipeline/MetaDrivenCopyPipeline.json
{
	"name": "MetaDrivenCopyPipeline",
	"properties": {
		"activities": [
			{
				"name": "lkp_MetadataConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM Metadata_TableCopyConfig \nWHERE IncludeInCopy = 'Yes' ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SQL_src",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "Metadata_TableCopyConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "feach_TableLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_MetadataConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_MetadataConfig').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "if_CopyToCSV",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(toLower(item().OutputToCSV), 'yes')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy_SQLToCSV",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_SQL_src",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "@item().SourceSchema",
														"type": "Expression"
													},
													"tableName": {
														"value": "@item().SourceTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DelimitedText",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "if_CopyToParquet",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(toLower(item().OutputToParquet), 'yes')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy_SQLToParquet",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_SQL_src",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "@item().SourceSchema",
														"type": "Expression"
													},
													"tableName": {
														"value": "@item().SourceTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Parquet1",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "if_CopyToAvro",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(toLower(item().OutputToAvro), 'yes')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy_SQLToAvro",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AvroSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "AvroWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_SQL_src",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "@item().SourceSchema",
														"type": "Expression"
													},
													"tableName": {
														"value": "@item().SourceTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Avro1",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "if_CopyToTargetSQL",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(toLower(item().CopyToTargetDB), 'yes')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy_SQLToSQL",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@if(equals(item().ColumnList, '*'), concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable), concat('SELECT ', item().ColumnList, ' FROM ', item().SourceSchema, '.', item().SourceTable))\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_SQL_src",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "@item().SourceSchema",
														"type": "Expression"
													},
													"tableName": {
														"value": "@item().SourceTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_SQL_tgt",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "@item().SourceSchema",
														"type": "Expression"
													},
													"tableName": {
														"value": "@item().TargetTable",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-06-22T20:12:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}